[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CSGo"]
	path = CSGo
	url = https://github.com/adsoncostanzifilho/csgo
	shallow = true
	registered = true
